# Regular Expressions

Regular Expression Sequence Cheat Sheet:

https://cheatography.com/davechild/cheat-sheets/regular-expressions/

Regular Expression Tester

https://regex101.com

## Import Statement

In [1]:
import re   # regular express

## re.findall()

Returns a list of occurrences of a pattern in a string

In [15]:
test = "abcdabtesabt123"         # test string

print(re.findall("ab", test))    # matching characters 'ab'

print(re.findall("x", test))     # matching character 'x'

print(re.findall("\d+", test))   # sequence of integers more than once

['ab', 'ab', 'ab']
[]
['123']

## re.search()

Returns the first matching object of a pattern in a string

In [4]:
test = "The Rain 12345"        # test string
print(re.search("\s", test))   # matching first space character
print(re.search("\d", test))   # matching first integer character

<re.Match object; span=(3, 4), match=' '>
<re.Match object; span=(9, 10), match='1'>

## re.split()

Returns a list of the splitting of a string by a pattern

In [19]:
test = "This is a test"        # test string

print(re.split("\s", test))    # splitting a string by a space

['This', 'is', 'a', 'test']

## re.sub()

Returns back the string with the subbing of a pattern with another pattern

In [21]:
test = "123 456 789 abc def ghi"       # test string

print(re.sub("\s", "-", test))         # subbing a space with a dash

print(re.sub("\d+", "numbers", test))  # subbing a sequence of numbers with the string 'numbers'

123-456-789-abc-def-ghi
numbers numbers numbers abc def ghi

## Replacing values in the Iris Data Frame

In [2]:
import pandas as pd

In [5]:
# Using str.replace()

data = pd.read_csv("iris.csv")

# replacing every 'setosa' species to 's'
data["species"] = data["species"].replace("setosa", "s")
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2          s
1             4.9          3.0           1.4          0.2          s
2             4.7          3.2           1.3          0.2          s
3             4.6          3.1           1.5          0.2          s
4             5.0          3.6           1.4          0.2          s
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]